* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: url(images/background2.jpg);
	background-repeat: round;
	background-attachment: fixed;
}

h1 {
	margin-top: 40px;
	margin-bottom: 60px;
	font-family: 'Days One', sans-serif;
	font-size: 3.5em;
	text-align: center;

}

.grid-container {
	border: 2px solid transparent;
	width: 400px;
	padding: 10px;
	margin: auto;
	text-align: center;
	font-family: 'Heebo', sans-serif;
	background-color: rgba(135, 135, 135, 0.5);
	border-radius: 4px;

}

table {
	border-collapse: collapse;
	margin: auto;
	width: 100%;
	table-layout: fixed;
}

th {
	font-size: 1em;
}

tr,
td,
th {
	border: 1px solid #000000;
	padding: 3px 5px;
	word-wrap: break-word;
}

button {
	height: 40px;
	width: 115px;
	border-radius: 5px;
	font-size: 15px;
	background-color: rgba(56, 60, 71, 0.5);
	border: 1px solid rgba(56, 60, 71, 0.5);
	font-family: Arial, sans-serif;
	float: right;
	margin-top: 20px;
}

button:hover {
	height: 40px;
	width: 115px;
	border-radius: 5px;
	font-size: 15px;
	border: 1px solid rgba(56, 60, 71, 0.5);
	background: radial-gradient(#E0E0E0, #454545);
	cursor: pointer;
	font-family: Arial, sans-serif;
}

#answer {
	width: 230px;
	padding: 0 10px;
	height: 40px;
	font-size: 15px;
	background-color: rgba(163, 164, 168, 0.7);
	border: 1px solid transparent;
	color: black;
	font-family: Arial, sans-serif;
	border-radius: 5px;
	float: left;
	margin: 20px 0;
}


#question {
	font-size: 2.5em;
	font-weight: bold;

}


#scoreGroup {
	margin-top: 15px;
	font-size: 1.3em;
}

.note {
	text-align: justify;
	border: 1px solid transparent;
	width: 400px;
	margin: auto;
	margin-top: 15px;
	padding: 10px;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.5);
	color: gray;
	font-size: 1.1em;
}

strong {
	text-decoration: underline;
}

input::-webkit-input-placeholder {
	color: #434344;
}

.red-score {
	color: #B0282B;
	text-shadow: 1px 1px 2px #000000;
}

.green-score {
	color: #23801B;
	text-shadow: 1px 1px 2px #000000;
}

.great-score {
	color: #000000;
	text-shadow: 2px 1px 3px #33A10B;
	font-weight: bold;
}

.middle-score {
	color: #000000;
	text-shadow: 2px 1px 3px #DBD812;
	font-weight: bold;
}

.bad-score {
	color: #000000;
	text-shadow: 2px 1px 3px #D93C09;
	font-weight: bold;
}

#emoji {
	font-size: 130px;
	text-align: center;
}