* {
	padding: 0;
	margin: 0;
}

body {
	background-image: url(images/background2.jpg);
	background-repeat: round;
	background-attachment: fixed;
}

h1 {
	margin-top: 40px;
	margin-bottom: 60px;
	text-align: center;
	font-family: 'Days One', sans-serif;
	font-size: 3.5em;
}

.grid-container {
	border: 2px solid transparent;
	width: 400px;
	padding: 10px;
	margin: auto;
	text-align: center;
	font-family: 'Heebo', sans-serif;
	background-color: rgba(135, 135, 135, 0.5);
	border-radius: 4px;

}

table {
	border-collapse: collapse;
	margin: auto;
}

th {
	font-size: 1em;
}

tr,
td,
th {
	border: 1px solid black;
	padding: 3px 5px;
	box-sizing: border-box;
}

button {
	margin: 20px 0px 20px 10px;
	height: 40px;
	width: 115px;
	border-radius: 5px;
	font-size: 15px;
	background-color: rgba(56, 60, 71, 0.5);
	border: 1px solid rgba(56, 60, 71, 0.5);
	font-family: Arial, sans-serif;
	box-sizing: border-box;
}

button:hover {
	margin: 20px 0px 20px 10px;
	height: 40px;
	width: 115px;
	border-radius: 5px;
	font-size: 15px;
	border: 1px solid rgba(56, 60, 71, 0.5);
	background: radial-gradient(#E0E0E0, #454545);
	cursor: pointer;
	font-family: Arial, sans-serif;
	box-sizing: border-box;
}

#answer {
	margin: 20px 0;
	padding: 0 10px;
	height: 40px;
	width: 188px;
	font-size: 15px;
	background-color: rgba(163, 164, 168, 0.7);
	border: 1px solid transparent;
	color: black;
	font-family: Arial, sans-serif;
	border-radius: 5px;
	box-sizing: border-box;
}


#question {
	font-size: 2.5em;
	font-weight: bold;

}


#scoreGroup {
	margin-top: 15px;
	font-size: 1.2em;
}

.note {
	text-align: justify;
	border: 1px solid transparent;
	width: 400px;
	margin: auto;
	margin-top: 15px;
	padding: 10px;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.5);
	color: gray;
	font-size: 1.1em;
}

strong {
	text-decoration: underline;
}

input::-webkit-input-placeholder {
	color: #434344;
}

.red-score {
	color: red;
}

.green-score {
	color: green;
}

#emoji {
	font-size: 100px;
	text-align: center;
}