* {
	padding: 0;
	margin: 0;
}

body {
	/*background-image: url(images/background2.jpg);*/
}

h1 {
	margin-top: 40px;
	margin-bottom: 60px;
	text-align: center;
	font-family: 'Days One', sans-serif;
	font-size: 3.5em;
}
.grid-container {
	border: 2px solid black;
	width: 400px;
	padding: 10px;
	margin: auto;
	text-align: center;
	font-family: 'Heebo', sans-serif;
}

table {
	border-collapse: collapse;
	margin: auto;
}

th {
	font-size: 1em;
}

tr, td, th {
	border: 1px solid black;
	padding: 3px 6px;
}

button {
	margin: 0 10px;
	height: 30px;
	width: 100px;
	border-radius: 5px;
	font-size: 1em;
}

#question {
	font-size: 2em;
	font-weight: bold;

}

#answer {
	margin: 20px 0;
	height: 25px;
	width: 155px;
	font-size: 1em;
}

#scoreGroup {
	margin-top: 15px;







}

